body {
  color:#444;
  font-family: BukyVede;
  font-size: 1.2em;
  /* font-size:18px; */
  line-height:1.6;
  margin:20px auto;
  max-width:680px;
  padding:0 10px;
}

h1,h2,h3 {
  line-height:1.2
}

a:link {
  color: #BF5700;
}

a:visited {
  color: darkred;
}

small {
  font-style:italic;
}