body {
  color:#444;
  font-family: BukyVede;
  font-size: 1.2em;
  line-height:1.6;
  margin:0 auto 10px;
  max-width:680px;
  padding:0 10px;
}

h1,h2,h3 {
  line-height:1.2
}

header {
  overflow: auto;
}

a:link {
  color: #BF5700;
}

a:visited {
  color: darkred;
}

small {
  font-style:italic;
}

img {
  max-width: 100%;
}

ul ul {
  padding-left: 1.5em;
}

footer {
  margin-top: 10px;
}